.calendar .calendar-color-w9 { color:#005a98; }
.calendar .calendar-color-w2 { color:#00b5ed; }
.calendar .calendar-color-w5 { color:#0085c0; }
.calendar .calendar-color-w19 { color:#001b5e; }
.calendar .calendar-color-w13 { color:#003b7b; }
.calendar .calendar-color-w12 { color:#004282; }
.calendar .calendar-color-g { color:#a47a4d; }
.calendar .calendar-color-w17 { color:#002566; }
.calendar .calendar-color-s { color:#ffffff; }
.calendar .calendar-color-w14 { color:#003374; }
.calendar .calendar-color-w6 { color:#0079b5; }
.calendar .calendar-color-w4 { color:#0091cc; }
.calendar .calendar-color-w10 { color:#005291; }
.calendar .calendar-color-w16 { color:#00296b; }
.calendar .calendar-color-d { color:#584338; }
.calendar .calendar-color-w1 { color:#00c8ff; }
.calendar .calendar-color-r { color:#ff0000; }
.calendar .calendar-color-w7 { color:#006daa; }
.calendar .calendar-color-w11 { color:#004a8a; }
.calendar .calendar-color-o { color:#c74c30; }
.calendar .calendar-color-w18 { color:#002062; }
.calendar .calendar-color-w8 { color:#00619f; }
.calendar .calendar-color-w3 { color:#00a2db; }
.calendar .calendar-color-w15 { color:#002e6f; }
