.calendar .calendar-color-g { color:#a47a4d; }
.calendar .calendar-color-o { color:#c74c30; }
.calendar .calendar-color-r { color:#ff0000; }
.calendar .calendar-color-s { color:#ffffff; }
.calendar .calendar-color-w1 { color:#00c8ff; }
.calendar .calendar-color-w2 { color:#00b5ed; }
.calendar .calendar-color-w3 { color:#00a2db; }
.calendar .calendar-color-w4 { color:#0091cc; }
.calendar .calendar-color-w5 { color:#0085c0; }
.calendar .calendar-color-w6 { color:#0079b5; }
.calendar .calendar-color-w7 { color:#006daa; }
